*{
  align-items: center;
}
h1{
  font-size: 50px;
  display: block;
  text-align: center;
}
p{
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
img{
  width: 50%;
  height: 100%;
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.buttons{
  display: flex;
  justify-content: center;
}
.buttons a{
  margin: 25px;
}
a{
  display: block;
  text-align: center;
  margin: 25px;
}
